
h1 {
    color:blue;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}

.container{
    display:flex;
    gap: 0.625%;
}

nav a{
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    background-color:aqua;
}




nav .Button 
{

}